.pagination {
    button {
        color: #352424;
        border: 2px solid transparent;
    }

    button:hover,
    button.active {
        border: 2px solid #A85757;
        color: #A85757;
    }
}