.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end; 
    z-index: 1000;
    animation: slideIn 0.3s ease-out; 
    color: #352424;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.modalContent {
    position: relative;
    width: 50%;
    max-width: 400px;
    background: #FFFFFF;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: flex;
        flex-direction: column;
        justify-content: space-between;
    h2{
        font-family: 'Inter', sans-serif;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            letter-spacing: -0.18px;
            margin-top: 0;
    }
    span{
        
            font-family: 'Inter', sans-serif;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                letter-spacing: -0.05px;
                color: #8D8585;
              
    }
    div{
        margin-bottom: 16px;
    }
}

.closeButton {
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    
    font-size: 1.5rem;
}
.buttonsBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.homeButton {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAF4F4;
    width: 48px;
    height: 48px;
}



.formGroup {
    margin-bottom: 16px;

    .label {
        color: #111;
        display: block;
        margin-bottom: 0.5rem;
        font-family: 'Inter', sans-serif;
            font-size: 14px;
            line-height: 20px;
            font-weight: 475;
            letter-spacing: -0.05px;
            color: #352424;
    }

    .input,
    .textarea {
        width: calc(100% - 0.5rem);
        padding: 0.5rem 0;
        font-size: 1rem;
        padding-left: 0.5rem;
        line-height: 1.5;
        border: 1px solid #ccc;
        background-color: #FFFFFF;
        color: #352424;
    }
    .input{
      
    }

    .textarea {
        height: 100px;
        resize: vertical;
    }
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: auto;
    button{
        padding: 0px 14px 0px 14px;
        border-radius: 6px;
        height: 40px;

    }
;
}
.closeButton{
        color: #352424;

}
.cancelButton,
.saveButton {
    flex-basis: 49%; 
    font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 475;
        letter-spacing: -0.05px;
        color: #fff;
}
.disabledSaveButton{
    flex-basis: 49%;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 475;
        letter-spacing: -0.05px;
        color: #fff;
        cursor: default;
        background-color: #D3A6A6;
}
.cancelButton{
    background-color: #514A4A;
}
.saveButton{
    background-color: #A85757;
}
.inputError {
    border-color: red;
}

.errorText {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
}