
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding: 24px 20px 44px 20px;
}

.left,
.right {
    display: flex;
    align-items: center;
    height: 40px;
}
.left {

    /* Стили для левой части шапки */
    h1 {
        margin: 0;
        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        line-height: 38.4px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #352424;
        span {
            height: 24px;
            background-color: #A85757;
            color: #FFF;
            font-family: 'Inter', sans-serif;
            font-size: 13px;
            line-height: 16px;
            font-weight: 475;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }

    .itemCount {
        font-size: 0.8em; 
    }
}

.itemCount {
    font-weight: normal;
    margin-left: 0.5rem;
}

.searchContainer {
    position: relative;
    margin-right: 1rem;
    height: 100%;
}

.searchInput {
    padding: 0.5rem;
    padding-left: 2.5rem;
    /* Space for the magnifying glass icon */
    border: 1px solid #ccc;
    /* Outer border to maintain consistent dimensions */
    border-radius: 4px 0 0 4px;
    height: 100%;
    outline: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  color: #352424;
   

    // Добавление иконки лупы внутри поля ввода
    background-color: #fff;
    background-image: url('path-to-your-search-icon.svg');
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    background-size: 1.5rem; // Размер иконки
}

.searchButton {
    border: none;
    background-color: #514A4A;
    font-weight: 475;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: white;
    height: 100%;
    padding: 0.5rem 1rem;
    margin-left: -1px; // Визуальное соединение кнопки с инпутом
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    
    &:hover {
        background-color: #0056b3;
    }
}

.addButton {
    background-color: #A85757;
    color: #FFFFFF;
    border: none;
    padding: 0 14px;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-weight: 475;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.05px;

    &:hover {
        background-color: #218838;
    }
}